#contact {
	background-color: #fff;
}

#success_message {
  display: none;
}

.btn-send-message {
	background-color: #f14c2e;
}


.input-group {
	width: 100%;

}


#send-email {
	width: 100%;
	
}



.form {
	margin: 0em auto;
	width: 40%;
	@media (max-width: 900px) {
		width: 60%;
	}
	@media (max-width: 500px) {
		width: 70%;
	}	
	@media (max-width: 400px) {
		width: 90%;
	}	
}

.form-horizontal .control-label {
    padding-top: .7em !important;
    font-size: 1.2em !important;
    font-weight: 200 !important;
 
}



.form-control {
    padding: 1em .9em;
}

.form-group .form-textbox {
	padding-bottom: 4em;
	padding-top: 1.5em;
}

textarea.form-control {
    height: 8em !important;
}

#btn-positive-submit {
	display: inline-block !important;
	background: #f14c2e;
    background: -moz-linear-gradient(top,#f14c2e 0%,#d8452e 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f14c2e),color-stop(100%,#d8452e));
    background: -webkit-linear-gradient(top,#f14c2e 0%,#d8452e 100%);
    background: -o-linear-gradient(top,#f14c2e 0%,#d8452e 100%);
    background: -ms-linear-gradient(top,#f14c2e 0%,#d8452e 100%);
    background: linear-gradient(to bottom,#f14c2e 0%,#d8452e 100%);
	color: white;
	width: 100%;
	text-align: center;
	padding: .5em;
	font-size: 1.5em;
	margin: 0 auto;
	&:hover {
		color: white !important; 
		background: darken(#f14c2e, 11.5%)
	}
}


























.search-container {
    margin-bottom: 10px;
}

.contact-text {
	margin-bottom: 3em;
}

.contact-form {
	max-width: 550px;
	display: block;
	margin: auto;
	input[type="submit"] {
		margin-bottom: 2em;
	}
}

label {
	margin-left: 2px;
  margin-top: 5px;
}

.contact-text {
	width: 50%; 
	text-align: center; 
	margin-left: auto; 
	margin-right: auto;  
}

.shirt-details form {
    margin-left: 0;
}

form[method="post"] {
    width: 72%;
    max-width: 35em; 
    margin: 34px auto;
    @media (max-width: 740px) {
        width: 100%;
    }
}

form tr {
    border: 1px solid #CCC;
    background: #f4f3f2;
}

form table {
    width: 100%; 
    margin-bottom: 16px;
    @media (max-width: 400px) {
        width: 100%;
    }
}

form th {
    width: 85px;
    border-right: 1px solid #CCC;
    vertical-align: middle;
    padding: 8px;
    text-align: center;
    i {
    	font-size: 1.125em;
    }
}

form td {
    padding: 15px 15px;
}

form td select,
form td input,
form td textarea {
    width: 100%;
    padding-left: 5px;
}

textarea {
    height: 100px;
}

input[type="submit"], .ip-contact {
    width: 100%;
    text-align: center;;
    color: #FFF;   
		background-color: #ccc;
		border: 1px solid #ccc;
		padding: 1em 2em;
		display: block;
		margin: auto;
		border-radius: 0px;
		color: #333;
		text-transform: uppercase;
		font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
}















.error {
    text-align: center;
    color: #FF533D;
    font-size: 1em;
    font-weight: 600;
}


.contact-thanks {
    text-align: center;
    border: 1px solid #eee;
    background: #555;
    color: #FFF !important;
    -webkit-border-radius: 2px;
    border-radius: 2px;    
    text-transform: uppercase;
    padding: 14px;
    padding: 10px;
    a {
        color: #fff;
        text-decoration: none;
        margin-left: 50% !important; 
        text-align: center;
    }
    width: 100%;
    -webkit-border-radius: 2px;
    border-radius: 2px;    
    font-size: 14px;
    text-transform: uppercase;
    padding: 14px;
}

.thank {
    margin-bottom: 6em !important;
}

.thank-you-text {
    text-align: center;
    margin-bottom: 3em;
}

.ip-contact {
    text-align: center;
    border: 1px solid #8e8e46;
    background: #555;
    color: #FFF !important;
    -webkit-border-radius: 2px;
    border-radius: 2px;    
    font-size: 14px;
    text-transform: uppercase;
    padding: 14px;
    margin-top: 1em;
    @media (max-width: 400px) {
        width: 340px;
    }
    width: 30% !important;
    padding: 10px;
    float: right;
    a {
        color: #fff;
        text-decoration: none;
    }
}

.contact-text-sm {
    font-size: .9em;
    text-align: center;
}




