.faculty h1 {
	margin-bottom: 2em !important;
}

.faculty:last-child {
	margin-bottom: 4em;
}

.cards {
	.name-container {
		background-color: white;
	}
	.name {
	  	font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
	  	font-size: 1.5em;
	  	position: relative;
	  	padding-top: 10px;
	  	color: #333;
	  	text-transform: uppercase;
	  	text-align: center;
		  white-space: nowrap;
			width: 100%;                   
		  overflow: hidden;              /* "overflow" value must be different from "visible" */ 
		  text-overflow: ellipsis;
	 }
	@media (max-width: 767px) {
		width: 60%;
		margin: auto;
		}
	@media (max-width: 450px) {
		width: 90%;
		margin: auto;
		}		
	img {
		text-align: center;
		width: 100%;
		padding: 80px;
		padding-bottom: 10px;
    background: white;

	}
.no-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
	.details {
		text-align: center;
	   margin-bottom: 2em;
    padding-bottom: 1em;
		background-color: #fff;
		color: #000;
		text-transform: uppercase;

	  .name {
	  	font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
	  	font-size: 1.5em;
	  	position: relative;
		  white-space: nowrap;
			width: 100%;                   
		  overflow: hidden;              /* "overflow" value must be different from "visible" */ 
		  text-overflow: ellipsis;
		  
	  }
	  .title {
	  	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
	  	font-weight: 400;
	  	position: relative;
	  	letter-spacing: 1px;
	  	padding: 0em 1.125em;
			width: 100%;                   
		  overflow: hidden;              /* "overflow" value must be different from "visible" */ 
		  text-overflow: ellipsis;
		  margin-bottom: 8px !important;
	  }
	  .email {
	    white-space: nowrap;
	    position: relative; 
	    width: 100%;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    font-style: italic;
	  }
	  .phone {
	  	margin-bottom: 8px;
	  	position: relative;
	  }
	  .email {
	  	margin-bottom: 4px;
	  	position: relative;
	  }
	  p:first-child {
	  	&:before {
	  		content: " - ";
	  	}
	  	&:after {
	  		content: " - ";
	  	}	  	
	  }
	}
}

.testy {
	position: absolute;
	z-index: 1px;
	background-color: white;
	height: 300px;
	width: 100%;
}