$primary-font: Dosis ,Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
$text-font: PT Sans ,Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;



#modal {
	
	width: 90%;
	margin: auto;
	padding: 2em .5em;
	h1 {
		font-family: $primary-font;
		text-transform: uppercase;
		font-size: 2.125em;
		font-weight: 800;
		margin-bottom: 6px;
		&:first-child {
	  	&:before {
	  		content: " - ";
	  	}
	  	&:after {
	  		content: " - ";
	  	}	  	
	  }
	}
	h2 {
		font-family: $primary-font;
		font-size: 1.5em;
		margin-top: 0px; 
		margin-bottom: 2em;
	}
	p {
		font-family: $text-font;
		line-height: 25px;
		font-size: 1.125em;
	}
	img {
		margin: 7px 20px 15px 0px;
		height: 220px;
		width: 220px;
		border: 2.5px solid #ddd;
	}
	.close-modal {
	background-color: #ddd;
	font-size: 1.35em;
	padding: 5px;
	position: absolute;
  top: 6px;
  right: 6px;
  &:hover {
  	cursor: pointer;
  }
	}
}

.modal-content {
	border-radius: 0px !important;
}