#technology {
	font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
	.breadcrumb {
		background-color: #fafafa;
	}
	.ip-title {
    display: block;
    line-height: 1.2em;
    margin-bottom: 1.65em;
    margin-top: 10px;
    font-size: 1.65em;
    padding-left: 5px;
    padding-right: 5px;
    @media (max-width: 767px) {
    	display: none;
    }
	}
	.ip-title ~ span {
	    word-break: keep-all; 
	    wrap: nowrap; 
	   
	}

	.ip-description {
	    line-height: 1.2em;
	}

	.ip-id {
	    wrap: nowrap; 
	}
	.media {
		margin: 1em 0;
		img {
			height: auto;
	    display: block;
	    width: 100%;
	    margin: auto;
	    margin-bottom: 1em;
	    &:hover {
	    	cursor: pointer;
	    }
		}
		iframe {
			&:hover {
				cursor: pointer;
			}
		}
	}

	.ip-link {
	    display: block;
	    font-size: .8em;
	    margin-bottom: -5px;
	}

	.links-container {
	    width: 49%;
	    display: inline-block;
	    width: 100%;
	    display: block;    

	    @media (max-width: 760px) {
	        width: 100%;
	        font-size: .95em;
	        display: block;
	    }
	}

	.links-txt {
	    color: #222;
	    font-weight: bold;
	    margin-bottom: .1em;
	    vertical-align: top;
	    margin-top: 0em;
	}
	.btn-main {
		margin-top: 2em;
		width: 50%;
		&:hover {
			text-decoration: none;
		}
	}



	.ip-contact {
	    width: 100% !important;
	    margin-top: 2em;
	    text-align: center;
	    border: 1px solid #eee;
	    background: #555;
	    color: #FFF;
	    -webkit-border-radius: 2px;
	    border-radius: 2px;    
	    text-transform: uppercase;
	    -webkit-border-radius: 2px;
	    border-radius: 2px;    
	    font-size: 14px;
	    padding: 14px;
	    a {
	        text-decoration: none;
	    }
	}
	.pagination {
		display: block;
		margin-top: 0px;
		padding-left: 15px;
		padding-right: 15px;
		@media (max-width: 767px) {
			display: inline-block;
		}
		p {
			text-align: center;
			padding-top: 2em;
		}
		.fa {
			font-size: 2em;
			color: #222;
			background-color: #fafafa;
			padding: .5em .75em;
			border-radius: 3px;
			&:hover {
				cursor: pointer;
			}
		}
	}	
}


.modal-dialog {
		width: 80% !important;
	margin: 3em auto !important;
.modal-content {
	border: 30px solid #444;
	img {
		margin-top: 0em;

	}

}
}


.modal-lg {
	@media (min-width: 992px) {
    width: 800px !important;
}
}


.fluid-width-video-wrapper {
	padding-top: 58.4615% !important;
	margin-bottom: 1em;
	&:hover {
		cursor: pointer;
	}
}

.cover {
	padding: 100% !important;

}



.ip-title-mobile {
	@media (min-width: 767px) {
		display: none;
	}
	@media (max-width: 767px) {
			font-size: 1.6em !important;
			margin-bottom: 20px !important;
			line-height: 26px !important;
			width: 90%;
	    display: block;
	    margin: auto;
	}
}



