@import "header";
@import "footer";
@import "contact";
@import "product";
@import "philosophy";
@import "courses";
@import "apply";
@import "faq";
@import "faculty";
@import "about";
@import "modal";
@import "technologies";
@import "technology";



.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

html {
	background-color: #fff;
	position: relative;
	z-index: -1000;
}

body {
//	background-color: #2e3133;
	background-color: #fff;
	font-family: Arial;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: normal;
	margin: 0px;

}

h1 {
	color: #0f2105;
	text-align: center;
	margin-top: 5em;
}

h2 {
	text-align: center;
}

.page-title {
	margin-top: 0em;
//	background: #f2f2f2;
	padding: 1.25em 0 0em 0;
	color: #6d6e70;
	font-weight: 800;
	h1 {	
		font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: 900;
		text-transform: uppercase;
		color: #333;
		margin-bottom: .5em;
    margin-top: 1em;
	}
}

.page-container {
	width: 80%;
	margin: auto;
	max-width: 1100px;
}



video {
	z-index: 0;
	position: relative;
	width: 100vw;
	@media (max-width: 600px) {
		display: none !important;
	}
}

.jumbo-img {
	z-index: -10;
	position: relative;
	width: 100vw !important;
}

.jumbotron-sm {
	background-image: url(../assets/flags-1.jpg);
	background-size: cover;
	padding: 1em 0px;
	min-height: 300px;
	h2, h1 {
		margin: 0px;
	}
	h1 {
		font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: 900;
		text-transform: uppercase;
		color: #eee !important;
		text-shadow: 2px 2px 2px #000;
		padding-top: 30px;
	}
		h2 {
		color: #eee;
		text-shadow: 2px 2px 2px #000;
		width: 60%;
		font-weight: 300;
		margin: auto;
		margin-bottom: 20px;
		font-size: 2em;
	@media (max-width: 1000px) {
		font-size: 1.125em;
	}
	}	


	@media(min-width: 600px) {
		display: none;
	}
}

.jumbotron {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../assets/home.jpg);
	text-align: center;
	margin-bottom: 0px !important;

	@media (max-width: 1000px) {
		font-size: 1.125em;
	}
	@media (max-width: 600px) {
		display: none !important;
	}




	img {
		width: 170px;
	}
	h1 {	
		font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: 900;
		text-transform: uppercase;
		color: #eee !important;
		text-shadow: 2px 2px 2px #000;
		@media (max-width: 1000px) {
		font-size: 2.5em !important;
	}
	}
	h2 {
		color: #eee;
		text-shadow: 2px 2px 2px #000;
		width: 60%;
		font-weight: 300;
		margin: auto;
		margin-bottom: 20px;
		font-size: 2em;
	@media (max-width: 1000px) {
		font-size: 1.125em;
	}
	}
}

.page-text {
	text-align: center;
}




h6 {
	color: #0f2105;
	font-size: 1.25em;
	text-align: center;
	margin-top: 5em;
}

h2 .btn-main {
	// background-color: rgba(250, 186, 4, .5) !important;
	// background-color: #7a0404;
	// border: 2px solid #faba04;
	background-color: #ccc;
	border-radius: 0px;
	color: #333;
	text-transform: uppercase;
	font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;

}

a {
	text-decoration: none;
}

.wrapper {
	padding-top: 3em;
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;
	padding-bottom: 3em;
}



#wrapper {
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;

	input, button {
		margin: 0 auto;
		border-radius: 4px;
		padding: .5em;
	}

}

.hidden {
	display: none;
}

form {
	text-align: center;
}

input[placeholder="you@yours.com"], button[type="reset"] {
	display: inline;
	margin: 0px;
	border: none;
	padding: 1em !important;
	font-size: 1.2em;
}


button[type="reset"] {
	position: relative;
	left: -5px;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;	
	border: none;
	background-color: #f14c2e;
	color: #fff;
	&:hover {
		cursor: pointer;
	}
	&:active {
		outline: none !important;
	}
}

input[placeholder="you@yours.com"] {
	color: #f7f5f2;
    background: #4d4e4f;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
}


// footer {
// 	background-color: #f2f2f2;
//     padding-top: 1.5em;
//     padding-bottom: 1.5em;
//     text-align: center;
//     position: fixed;
//     bottom: 0px;
//         color: #6d6e70;
//     width: 100%;
// }




#overlay {
  background: rgba(0,0,0,0.9);
  width: 100%;
  z-index: 2000;
  height: 100vw;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    
    
}

#overlay img {
margin-top: 5%;
width: 45%;
}

#overlay p {
color: white;
margin-top: 2em;
}






.note-designer {
    font-family: Georgia, serif;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}




.bounding-box {
  background-image: url(...);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline;
}









.search-patents-icon {
    background-color: #ddd;
    padding: 9px 10px 11px 10px; 
    border-top-right-radius: 3px; 
    border-bottom-right-radius: 3px; 
    color: #333;
    margin-left: -4px;
}

.search-patents-input {
    height: 30px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 2px solid #ddd;
    display: inline-block;
}


#clear-search {
    float: right;
    font-size: .9em;
    color: #333;
    margin-bottom: .05em;
    @media (max-width: 760px) {
        display: block;
        margin-bottom: .6em;
        text-align: center;
        border-radius: 2px;
        text-decoration: none;
        background-color: #ccc;
        padding: .8em;
        float: none;
        color: #444;
        text-transform: uppercase;
        font-weight: 600;
    }
}

#search-go {
    width: 33%;
    text-align: center;
    border: 1px solid #eee;
    background: #666;
    color: #FFF;
    -webkit-border-radius: 2px;
    border-radius: 2px;    
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
    @media (max-width: 760px) {
        width: 100%;
        float: none;
        margin: .5em 0 .5em 0;
    }
}

.warning {
    text-align: center;

}


.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-style select:focus {
  outline: none;
}


.media-container {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    @media (max-width: 760px) {
        width: 100%;
        display: block;
    }
}




.img {   
width: 100%;
vertical-align: top;
display: block;
margin: auto;
list-style: none;
border: 1px solid #e3e1e0;
-webkit-border-radius: 2px;
border-radius: 2px;
text-align: center;
padding: 14px;
background: #f0eeed;
@media (max-width: 991px) {
    margin-top: 2em;
}
}

.vid {   
width: 100%;
vertical-align: top;
display: block;
margin: auto;
list-style: none;
border: 1px solid #e3e1e0;
-webkit-border-radius: 2px;
border-radius: 2px;
text-align: center;
padding: 14px;
background: #f0eeed; 
}








