header {
  width: 100%;
  border-bottom: solid 1px #d9d9de;
  display: block;
  background-color: #eee;
  margin-top: 0px; }

.site-logo {
  display: inline-block;
  margin: 0;
  margin-right: 1.125em;
  margin-left: .5em;
  font-size: 100%;
  white-space: nowrap;
  padding: 10px; }
  .site-logo img {
    height: 45px;
    padding: 2.5px; }
  @media (max-width: 816px) {
    .site-logo {
      width: 100%;
      text-align: center;
      margin-left: 0px; } }

.primary-menu {
  width: 78%;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  padding-left: 10px;
  text-align: right; }
  @media (max-width: 816px) {
    .primary-menu {
      padding-left: 0px;
      width: 100%; } }

.primary-menu li {
  z-index: 500;
  position: relative; }
  .primary-menu li:hover {
    cursor: pointer; }
  @media (max-width: 816px) {
    .primary-menu li {
      display: block;
      text-align: center;
      background-color: #222;
      width: 100vw;
      margin-left: 0px;
      border-bottom: 1px solid #ccc; } }

.nav-apply {
  float: right;
  border-left: 1px solid #d9d9de; }
  .nav-apply:hover {
    cursor: pointer !important; }
  .nav-apply a {
    padding: 20px 30px 24px 30px !important; }
  @media (max-width: 816px) {
    .nav-apply {
      float: none; } }
  @media (max-width: 816px) {
    .nav-apply {
      display: block;
      text-align: center;
      background-color: #222;
      width: 100vw;
      margin-left: 0px;
      border-bottom: 1px solid #ccc;
      border-left: none; } }

.primary-menu-link {
  display: inline-block; }
  .primary-menu-link .big-menu {
    font-size: 1.5em; }
    .primary-menu-link .big-menu:hover {
      color: #bbb; }

.primary-menu-link a {
  padding: 22px 20px 24px 20px;
  color: #828587;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .05em; }
  .primary-menu-link a:hover {
    text-decoration: none;
    color: #bbb; }
  @media (max-width: 816px) {
    .primary-menu-link a {
      padding: 23px 10px 20px 10px; } }
  @media (max-width: 816px) {
    .primary-menu-link a {
      color: #d9d9de;
      padding: 1.25em; }
      .primary-menu-link a:hover {
        background-color: transparent;
        color: white; } }

.btn-group-jumbotron {
  margin-left: 30%;
  margin-right: auto;
  display: block; }

.small-menu {
  color: #666;
  font-size: 1.5em !important;
  position: absolute;
  top: 24px;
  right: 30px; }
  .small-menu:hover {
    cursor: pointer; }

.footer-wrapper {
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #0A497F;
  position: relative;
  z-index: 1;
  background-color: #2e3133;
  padding-top: .4em;
  color: #a5a5a5;
  border-top: 1px solid #fff;
  padding-bottom: 2em; }
  .footer-wrapper img {
    display: block;
    margin: auto;
    margin-top: 1em;
    width: 125px; }

.footer {
  max-width: 1000px;
  width: 60%;
  margin: 6px auto;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 670px) {
    .footer {
      display: block !important; } }
  .footer h1 {
    font-size: 1.25em;
    font-weight: bold;
    margin: 30px;
    color: white;
    font-style: italic; }

.footer p {
  margin: 0;
  text-align: center;
  font-size: 1.125em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .footer p:hover {
    overflow: inherit;
    white-space: inherit; }

.footer-title {
  margin: 1em 10px .5em 0px;
  font-weight: 600;
  color: #595857;
  color: white;
  font-size: 1.2em; }

.footer a {
  color: #d9d9de;
  text-decoration: none; }
  .footer a:hover {
    text-decoration: none !important;
    color: #faba04; }

.footer p {
  margin: .3em .2em;
  font-weight: 200; }

.footer a:hover {
  text-decoration: underline; }

.footer a:active, .footer a:focus {
  text-decoration: none;
  color: #ddd; }

#copyright {
  text-align: center;
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #d9d9de;
  font-size: .9em;
  display: block;
  width: 90%;
  margin: 1.5em auto;
  border-top: 1px solid #aaa;
  padding: 1.5em 0px;
  margin-bottom: 0px;
  padding-bottom: 0px; }
  #copyright a {
    color: #6b6a69;
    text-decoration: none; }
    #copyright a:hover {
      text-decoration: underline; }

.column-left {
  width: 37%; }

.column-right {
  width: 38%; }
  .column-right p {
    margin-bottom: .125em !important; }

.column-center {
  width: 20%; }
  .column-center p {
    margin-bottom: .125em !important; }

.footer-column {
  width: 49%;
  margin-top: 0px;
  color: #ddd;
  height: 11em;
  display: inline-block;
  margin: auto;
  vertical-align: top;
  font-size: 1em; }
  @media (max-width: 670px) {
    .footer-column {
      display: block !important;
      width: 100% !important;
      padding: 0px 10px 10px 10px;
      font-size: .9em;
      height: auto; } }

.footer ul {
  margin: 0;
  padding: 0;
  float: left; }

.footer ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  text-transform: lowercase; }

.footer ul li:after {
  content: " | "; }

.footer ul li:last-child:after {
  content: ""; }

.footer p {
  margin: 0;
  text-align: left;
  padding-right: 3px;
  font-size: .9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .footer p:hover {
    overflow: inherit;
    white-space: inherit; }

.footer-title {
  margin: 5px 10px 5px 5px;
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
  border-bottom: 1px solid #aaa;
  color: #ddd;
  font-size: 1.2em; }

.footer-column p {
  margin-left: 5px; }

.footer-column li {
  margin-left: 5px;
  font-size: .9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .footer-column li:hover {
    overflow: inherit;
    white-space: inherit; }

.footer p {
  margin: 0 5px; }

.footer li:first-child a {
  margin-left: 4px; }

.footer a:hover, .footer a:active {
  text-decoration: underline; }

#copyright {
  color: #ddd;
  font-size: .9em;
  display: block;
  width: 100%;
  background-color: #2e3133;
  border-top: 1px solid #fff;
  padding: 5px 0px;
  margin-top: 0px; }
  #copyright p {
    text-align: center;
    margin: .2em 1em; }
  #copyright a {
    color: #ddd;
    text-decoration: none; }
    #copyright a:hover {
      text-decoration: underline; }

a[href="https://www.youtube.com/channel/UCez0aJJmX2JNxDuE3IJLakA"] i {
  font-size: 1.5em;
  width: 1.1em; }

a[href="https://www.linkedin.com/pub/byu-technology-transfer/82/48b/a97"] i {
  font-size: 1.5em;
  width: 1.1em; }

#contact {
  background-color: #fff; }

#success_message {
  display: none; }

.btn-send-message {
  background-color: #f14c2e; }

.input-group {
  width: 100%; }

#send-email {
  width: 100%; }

.form {
  margin: 0em auto;
  width: 40%; }
  @media (max-width: 900px) {
    .form {
      width: 60%; } }
  @media (max-width: 500px) {
    .form {
      width: 70%; } }
  @media (max-width: 400px) {
    .form {
      width: 90%; } }

.form-horizontal .control-label {
  padding-top: .7em !important;
  font-size: 1.2em !important;
  font-weight: 200 !important; }

.form-control {
  padding: 1em .9em; }

.form-group .form-textbox {
  padding-bottom: 4em;
  padding-top: 1.5em; }

textarea.form-control {
  height: 8em !important; }

#btn-positive-submit {
  display: inline-block !important;
  background: #f14c2e;
  background: -moz-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f14c2e), color-stop(100%, #d8452e));
  background: -webkit-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -o-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -ms-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: linear-gradient(to bottom, #f14c2e 0%, #d8452e 100%);
  color: white;
  width: 100%;
  text-align: center;
  padding: .5em;
  font-size: 1.5em;
  margin: 0 auto; }
  #btn-positive-submit:hover {
    color: white !important;
    background: #d62d0e; }

.search-container {
  margin-bottom: 10px; }

.contact-text {
  margin-bottom: 3em; }

.contact-form {
  max-width: 550px;
  display: block;
  margin: auto; }
  .contact-form input[type="submit"] {
    margin-bottom: 2em; }

label {
  margin-left: 2px;
  margin-top: 5px; }

.contact-text {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.shirt-details form {
  margin-left: 0; }

form[method="post"] {
  width: 72%;
  max-width: 35em;
  margin: 34px auto; }
  @media (max-width: 740px) {
    form[method="post"] {
      width: 100%; } }

form tr {
  border: 1px solid #CCC;
  background: #f4f3f2; }

form table {
  width: 100%;
  margin-bottom: 16px; }
  @media (max-width: 400px) {
    form table {
      width: 100%; } }

form th {
  width: 85px;
  border-right: 1px solid #CCC;
  vertical-align: middle;
  padding: 8px;
  text-align: center; }
  form th i {
    font-size: 1.125em; }

form td {
  padding: 15px 15px; }

form td select,
form td input,
form td textarea {
  width: 100%;
  padding-left: 5px; }

textarea {
  height: 100px; }

input[type="submit"], .ip-contact {
  width: 100%;
  text-align: center;
  color: #FFF;
  background-color: #ccc;
  border: 1px solid #ccc;
  padding: 1em 2em;
  display: block;
  margin: auto;
  border-radius: 0px;
  color: #333;
  text-transform: uppercase;
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif; }

.error {
  text-align: center;
  color: #FF533D;
  font-size: 1em;
  font-weight: 600; }

.contact-thanks {
  text-align: center;
  border: 1px solid #eee;
  background: #555;
  color: #FFF !important;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 14px;
  padding: 10px;
  width: 100%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 14px; }
  .contact-thanks a {
    color: #fff;
    text-decoration: none;
    margin-left: 50% !important;
    text-align: center; }

.thank {
  margin-bottom: 6em !important; }

.thank-you-text {
  text-align: center;
  margin-bottom: 3em; }

.ip-contact {
  text-align: center;
  border: 1px solid #8e8e46;
  background: #555;
  color: #FFF !important;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 14px;
  margin-top: 1em;
  width: 30% !important;
  padding: 10px;
  float: right; }
  @media (max-width: 400px) {
    .ip-contact {
      width: 340px; } }
  .ip-contact a {
    color: #fff;
    text-decoration: none; }

.contact-text-sm {
  font-size: .9em;
  text-align: center; }

@media (max-width: 870px) {
  .product-container {
    padding-right: 5px !important;
    padding-left: 5px !important; } }

@media (max-width: 870px) {
  .cart-container {
    padding-right: 5px !important;
    padding-left: 5px !important; } }

.shopping-cart {
  background-color: #f7fafa;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: .6em; }

#paypal-btn {
  width: 100%; }

#paypal {
  height: 41px; }

.shopping-cart-title {
  border-bottom: 2px solid #ddd;
  padding-bottom: .5em; }

.product-header {
  width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid #ccc;
  border-bottom: none;
  padding: .5em;
  background-color: #eee;
  max-width: 100%; }

.thumb-img {
  width: 100%;
  height: auto; }

.product-main {
  background-color: #f7fafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  padding: .6em;
  margin-bottom: 1.5em;
  width: 100% !important; }

.product-main-row {
  width: 100%; }

.product-name {
  display: inline-block;
  margin-top: 0px;
  width: 50%;
  color: #444;
  padding-left: .25em;
  margin-top: 9px; }
  @media (max-width: 550px) {
    .product-name {
      display: inline-block;
      width: 70%; } }
  @media (max-width: 400px) {
    .product-name {
      font-size: 1.25em; } }

.product-price-add {
  float: right; }
  @media (max-width: 550px) {
    .product-price-add {
      float: none;
      display: block;
      width: 100%; } }

.price {
  display: inline-block;
  margin-top: -5px;
  padding-left: .5em;
  font-size: 1.5em;
  float: right;
  font-weight: 300;
  color: #f14c2e; }
  @media (max-width: 400px) {
    .price {
      font-size: 1.75em; } }

#btn-add-to-cart {
  display: inline-block;
  background: #f14c2e;
  background: -moz-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f14c2e), color-stop(100%, #d8452e));
  background: -webkit-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -o-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -ms-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: linear-gradient(to bottom, #f14c2e 0%, #d8452e 100%);
  color: white;
  text-align: center;
  margin: 0 auto;
  float: right;
  position: relative;
  top: 5px; }
  #btn-add-to-cart:hover {
    color: white !important;
    background: #e93110; }
  @media (max-width: 550px) {
    #btn-add-to-cart {
      display: none; } }

#btn-add-to-cart-mobile {
  background: #f14c2e;
  background: -moz-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f14c2e), color-stop(100%, #d8452e));
  background: -webkit-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -o-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -ms-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: linear-gradient(to bottom, #f14c2e 0%, #d8452e 100%);
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: .65em; }
  #btn-add-to-cart-mobile:hover {
    color: white !important;
    background: #d62d0e; }
  @media (max-width: 550px) {
    #btn-add-to-cart-mobile {
      display: block;
      float: none;
      width: 100%;
      margin-top: .5em; } }

#btn-more-info {
  display: block;
  text-shadow: 0 -1px 1px #8FA4C2;
  background: #d5d5d5;
  background: -moz-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f14c2e), color-stop(100%, #d8452e));
  background: -webkit-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -o-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: -ms-linear-gradient(top, #f14c2e 0%, #d8452e 100%);
  background: linear-gradient(to bottom, #a1b9db 0%, #8fa4c2 100%);
  color: #fff !important;
  text-align: center;
  padding: 6px 12px;
  margin-left: 1em;
  margin-bottom: 1em; }
  #btn-more-info:hover {
    color: #fff !important;
    background: #8da3c1; }
  @media (max-width: 550px) {
    #btn-more-info {
      position: static;
      display: block;
      padding: .65em;
      float: none;
      width: 100%;
      margin-top: .5em;
      margin-left: 0em;
      margin-bottom: 0em; } }

.description {
  margin-top: 0em;
  width: 100%;
  margin-right: 0px;
  display: inline-block;
  color: #888; }

.artist-name {
  margin-top: 0em;
  margin-right: 0px;
  display: inline-block;
  font-weight: bold; }

.product-info {
  width: 100%; }

.product-image {
  display: inline-block;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  min-width: 9em;
  float: right; }

.mission-statement {
  background-color: #fff;
  max-width: 1000px;
  margin: auto;
  box-sizing: border-box;
  min-height: 267px;
  margin-bottom: 8em; }
  .mission-statement h2 {
    font-weight: 800;
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    text-transform: uppercase;
    padding: .5em; }
  .mission-statement p {
    padding-left: 1em;
    padding-bottom: 1em;
    line-height: 1.5em;
    padding-right: 1em;
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400; }

.icons {
  margin: auto !important;
  width: 80%;
  text-align: center;
  margin-bottom: 4em !important; }
  @media (max-width: 767px) {
    .icons {
      margin-bottom: 2em !important; } }
  .icons img {
    width: 8em;
    text-align: center;
    margin: auto;
    padding: 1em; }
    @media (max-width: 767px) {
      .icons img {
        width: 6em; } }
  .icons p {
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    font-size: 1.75em;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .icons p {
        font-size: 1.125em; } }

.mission-statement-img {
  width: 100%; }

.mission-statement-container {
  width: 90%;
  margin: auto !important; }

#courses {
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 5em; }
  #courses h2 {
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 800;
    text-align: left;
    margin-top: 1em; }
    #courses h2 i {
      color: #aaa;
      margin-right: 10px; }

.main-text {
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.25em;
  line-height: 1.125em;
  word-spacing: 1px; }

.big-icon {
  text-align: center;
  width: 10em;
  margin-bottom: 4em; }

.ad {
  text-align: center; }

.week-schedule h4 {
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 800;
  font-size: 1.5em; }
.week-schedule p {
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.125em; }

#apply .page-text {
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.25em;
  line-height: 1.125em;
  word-spacing: 1px; }
#apply #send-email {
  margin: 2em 0em; }

.apply-container {
  width: 80% !important;
  margin: auto !important; }

#apply {
  background-color: #fff; }

.main-text {
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.25em;
  line-height: 1.125em;
  word-spacing: 1px; }

input [type="file"] {
  background-color: red !important; }

.apply-container .more-info {
  color: #222;
  text-transform: underline !important; }
  .apply-container .more-info:hover {
    cursor: pointer; }

#faq {
  width: 80%;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 7em !important; }

.accordian {
  margin-bottom: 2em;
  margin-top: 4em; }

.faculty h1 {
  margin-bottom: 2em !important; }

.faculty:last-child {
  margin-bottom: 4em; }

.cards .name-container {
  background-color: white; }
.cards .name {
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.5em;
  position: relative;
  padding-top: 10px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  /* "overflow" value must be different from "visible" */
  text-overflow: ellipsis; }
@media (max-width: 767px) {
  .cards {
    width: 60%;
    margin: auto; } }
@media (max-width: 450px) {
  .cards {
    width: 90%;
    margin: auto; } }
.cards img {
  text-align: center;
  width: 100%;
  padding: 80px;
  padding-bottom: 10px;
  background: white; }
.cards .no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important; }
.cards .details {
  text-align: center;
  margin-bottom: 2em;
  padding-bottom: 1em;
  background-color: #fff;
  color: #000;
  text-transform: uppercase; }
  .cards .details .name {
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    position: relative;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    /* "overflow" value must be different from "visible" */
    text-overflow: ellipsis; }
  .cards .details .title {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    position: relative;
    letter-spacing: 1px;
    padding: 0em 1.125em;
    width: 100%;
    overflow: hidden;
    /* "overflow" value must be different from "visible" */
    text-overflow: ellipsis;
    margin-bottom: 8px !important; }
  .cards .details .email {
    white-space: nowrap;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic; }
  .cards .details .phone {
    margin-bottom: 8px;
    position: relative; }
  .cards .details .email {
    margin-bottom: 4px;
    position: relative; }
  .cards .details p:first-child:before {
    content: " - "; }
  .cards .details p:first-child:after {
    content: " - "; }

.testy {
  position: absolute;
  z-index: 1px;
  background-color: white;
  height: 300px;
  width: 100%; }

#about {
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 5em; }
  #about h2 {
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 800;
    text-align: left;
    margin-top: 2em; }
    #about h2 i {
      color: #aaa;
      margin-right: 5px;
      position: relative;
      top: 3px; }

.main-text {
  font-size: 1.25em;
  line-height: 1.125em;
  word-spacing: 1px; }

li {
  font-size: 1.25em;
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif; }

#about ul {
  margin-top: 2em;
  margin-bottom: 2em; }

.icons-about {
  margin: auto !important;
  width: 100%;
  text-align: center;
  margin-bottom: 4em !important; }
  .icons-about img {
    width: 8em !important;
    text-align: center;
    margin: auto;
    padding: 1em; }
  .icons-about .main {
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    font-size: 1.75em;
    text-transform: uppercase;
    line-height: 1.125em;
    font-weight: 800; }
  .icons-about p {
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif; }

.video-wrapper {
  text-align: center; }

iframe {
  margin: auto;
  text-align: center;
  width: 100%;
  height: 400px;
  max-width: 800px; }

.btn-main {
  background-color: #ccc;
  border: 1px solid #ccc;
  padding: 1em 2em;
  display: block;
  margin: auto;
  border-radius: 0px;
  color: #333;
  text-transform: uppercase;
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif; }

#modal {
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 90%;
  margin: auto;
  padding: 2em .5em; }
  #modal h1 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 6px; }
    #modal h1:first-child:before {
      content: " - "; }
    #modal h1:first-child:after {
      content: " - "; }
  #modal h2 {
    font-size: 1.25em;
    margin-top: 0px;
    margin-bottom: 2em; }
  #modal p {
    line-height: 25px;
    font-size: 1.125em; }
  #modal img {
    margin: 7px 20px 15px 0px;
    height: 220px;
    width: 220px;
    border: 2.5px solid #ddd; }
  #modal .close-modal {
    background-color: #ddd;
    font-size: 1.35em;
    padding: 5px;
    position: absolute;
    top: 6px;
    right: 6px; }
    #modal .close-modal:hover {
      cursor: pointer; }

.modal-content {
  border-radius: 0px !important; }

#technologies h1 {
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #333;
  margin-bottom: 0px;
  margin-top: 10px; }
#technologies .featured-tech-pdf {
  text-align: center;
  font-size: 1em;
  font-style: italic;
  margin-bottom: 2.25em; }
#technologies .pagination, #technologies .pagination-row-2 {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 830px) {
    #technologies .pagination, #technologies .pagination-row-2 {
      width: 85%; } }
  @media (max-width: 630px) {
    #technologies .pagination, #technologies .pagination-row-2 {
      width: 100%; } }
#technologies .search-box {
  width: 100%;
  margin-bottom: 38px;
  display: inline-block;
  height: 39px;
  margin-top: 0px;
  border-radius: 3px;
  border: 2px solid #ddd;
  display: inline-block;
  padding-left: .5em; }
  @media (max-width: 767px) {
    #technologies .search-box {
      margin-bottom: 15px; } }
#technologies .select-style {
  padding: 2.7px;
  width: 100%;
  display: inline-block;
  margin-top: 0px;
  border: 2px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  background: white url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%; }
  @media (max-width: 767px) {
    #technologies .select-style {
      margin-bottom: 38px; } }
#technologies .patent-filter {
  background-color: #ddd;
  position: relative;
  left: -90px;
  width: 20%; }
#technologies .patent-list {
  border: 5px solid #e3e1e0;
  margin-bottom: 20px; }
#technologies .patent-list-details {
  width: 88% !important;
  display: block !important; }
#technologies .technologies-list {
  padding-left: 0px; }
#technologies .patent-container {
  background-color: #fff; }
  #technologies .patent-container span {
    margin-left: .5em;
    font-size: .9em; }
#technologies .patent-description {
  text-align: center;
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  margin-top: .1em;
  padding: 0px 0em .5em .5em;
  margin-bottom: 0px;
  margin-right: 1em;
  width: inherit; }
  #technologies .patent-description:hover {
    text-decoration: none; }
  @media (max-width: 500px) {
    #technologies .patent-description {
      font-size: .8em;
      margin-top: 0px; } }
#technologies .less-padding-right {
  padding-right: 7.5px; }
  @media (max-width: 767px) {
    #technologies .less-padding-right {
      padding-right: 15px !important; } }
#technologies .less-padding-left {
  padding-left: 7.5px; }
  @media (max-width: 767px) {
    #technologies .less-padding-left {
      padding-left: 15px !important; } }
#technologies .patent-info {
  text-decoration: none;
  color: inherit; }
  #technologies .patent-info:hover {
    text-decoration: none; }
#technologies .patent-name {
  color: #333;
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  padding-top: .4em;
  margin-left: .3em;
  margin-top: 0em;
  margin-bottom: 0px;
  margin-right: .5em;
  font-size: 1.4em;
  display: block;
  line-height: 1.2em;
  text-transform: uppercase; }
  #technologies .patent-name:hover {
    text-decoration: none; }
  @media (max-width: 500px) {
    #technologies .patent-name {
      font-size: 1.3em; } }
#technologies .pagination {
  display: block;
  margin-top: 3em; }
  #technologies .pagination p {
    text-align: center;
    display: inline-block;
    margin: auto; }
  #technologies .pagination .fa {
    font-size: 2em;
    color: #222;
    background-color: #fff;
    padding: .5em .6em;
    border-radius: 3px; }
    @media (max-width: 550px) {
      #technologies .pagination .fa {
        padding: .35em;
        padding-left: .45em;
        padding-right: .45em;
        font-size: 1.5em; } }
    #technologies .pagination .fa:hover {
      cursor: pointer; }
  #technologies .pagination .pgs {
    margin-top: .9em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; }
    @media (max-width: 550px) {
      #technologies .pagination .pgs {
        margin-top: 0em; } }
    #technologies .pagination .pgs .pg {
      font-size: 1em;
      padding: 7px 0px;
      font-style: italic; }
      #technologies .pagination .pgs .pg:hover {
        cursor: pointer !important;
        font-weight: bold; }
  #technologies .pagination .highlighted {
    font-weight: bold;
    background-color: #eee;
    border-radius: 4px; }
#technologies .back {
  text-align: center;
  padding-top: 10px;
  width: 130px;
  border-radius: 3px;
  float: left;
  background-color: #fff;
  padding: 5px 10px;
  margin-top: -5px;
  font-size: .9em; }
  #technologies .back:hover {
    cursor: pointer; }
#technologies .end {
  text-align: center;
  padding-top: 10px;
  width: 130px;
  border-radius: 3px;
  float: right;
  background-color: #fff;
  padding: 5px 10px;
  margin-top: -5px;
  font-size: .9em; }
  #technologies .end:hover {
    cursor: pointer; }

.page-button-disabled {
  display: none !important; }

#technology {
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif; }
  #technology .breadcrumb {
    background-color: #fafafa; }
  #technology .ip-title {
    display: block;
    line-height: 1.2em;
    margin-bottom: 1.65em;
    margin-top: 10px;
    font-size: 1.65em;
    padding-left: 5px;
    padding-right: 5px; }
    @media (max-width: 767px) {
      #technology .ip-title {
        display: none; } }
  #technology .ip-title ~ span {
    word-break: keep-all;
    wrap: nowrap; }
  #technology .ip-description {
    line-height: 1.2em; }
  #technology .ip-id {
    wrap: nowrap; }
  #technology .media {
    margin: 1em 0; }
    #technology .media img {
      height: auto;
      display: block;
      width: 100%;
      margin: auto;
      margin-bottom: 1em; }
      #technology .media img:hover {
        cursor: pointer; }
    #technology .media iframe:hover {
      cursor: pointer; }
  #technology .ip-link {
    display: block;
    font-size: .8em;
    margin-bottom: -5px; }
  #technology .links-container {
    width: 49%;
    display: inline-block;
    width: 100%;
    display: block; }
    @media (max-width: 760px) {
      #technology .links-container {
        width: 100%;
        font-size: .95em;
        display: block; } }
  #technology .links-txt {
    color: #222;
    font-weight: bold;
    margin-bottom: .1em;
    vertical-align: top;
    margin-top: 0em; }
  #technology .btn-main {
    margin-top: 2em;
    width: 50%; }
    #technology .btn-main:hover {
      text-decoration: none; }
  #technology .ip-contact {
    width: 100% !important;
    margin-top: 2em;
    text-align: center;
    border: 1px solid #eee;
    background: #555;
    color: #FFF;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 14px;
    padding: 14px; }
    #technology .ip-contact a {
      text-decoration: none; }
  #technology .pagination {
    display: block;
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (max-width: 767px) {
      #technology .pagination {
        display: inline-block; } }
    #technology .pagination p {
      text-align: center;
      padding-top: 2em; }
    #technology .pagination .fa {
      font-size: 2em;
      color: #222;
      background-color: #fafafa;
      padding: .5em .75em;
      border-radius: 3px; }
      #technology .pagination .fa:hover {
        cursor: pointer; }

.modal-dialog {
  width: 80% !important;
  margin: 3em auto !important; }
  .modal-dialog .modal-content {
    border: 30px solid #444; }
    .modal-dialog .modal-content img {
      margin-top: 0em; }

@media (min-width: 992px) {
  .modal-lg {
    width: 800px !important; } }

.fluid-width-video-wrapper {
  padding-top: 58.4615% !important;
  margin-bottom: 1em; }
  .fluid-width-video-wrapper:hover {
    cursor: pointer; }

.cover {
  padding: 100% !important; }

@media (min-width: 767px) {
  .ip-title-mobile {
    display: none; } }
@media (max-width: 767px) {
  .ip-title-mobile {
    font-size: 1.6em !important;
    margin-bottom: 20px !important;
    line-height: 26px !important;
    width: 90%;
    display: block;
    margin: auto; } }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

html {
  background-color: #fff;
  position: relative;
  z-index: -1000; }

body {
  background-color: #fff;
  font-family: Arial;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: normal;
  margin: 0px; }

h1 {
  color: #0f2105;
  text-align: center;
  margin-top: 5em; }

h2 {
  text-align: center; }

.page-title {
  margin-top: 0em;
  padding: 1.25em 0 0em 0;
  color: #6d6e70;
  font-weight: 800; }
  .page-title h1 {
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #333;
    margin-bottom: .5em;
    margin-top: 1em; }

.page-container {
  width: 80%;
  margin: auto;
  max-width: 1100px; }

video {
  z-index: 0;
  position: relative;
  width: 100vw; }
  @media (max-width: 600px) {
    video {
      display: none !important; } }

.jumbo-img {
  z-index: -10;
  position: relative;
  width: 100vw !important; }

.jumbotron-sm {
  background-image: url(../assets/flags-1.jpg);
  background-size: cover;
  padding: 1em 0px;
  min-height: 300px; }
  .jumbotron-sm h2, .jumbotron-sm h1 {
    margin: 0px; }
  .jumbotron-sm h1 {
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #eee !important;
    text-shadow: 2px 2px 2px #000;
    padding-top: 30px; }
  .jumbotron-sm h2 {
    color: #eee;
    text-shadow: 2px 2px 2px #000;
    width: 60%;
    font-weight: 300;
    margin: auto;
    margin-bottom: 20px;
    font-size: 2em; }
    @media (max-width: 1000px) {
      .jumbotron-sm h2 {
        font-size: 1.125em; } }
  @media (min-width: 600px) {
    .jumbotron-sm {
      display: none; } }

.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/home.jpg);
  text-align: center;
  margin-bottom: 0px !important; }
  @media (max-width: 1000px) {
    .jumbotron {
      font-size: 1.125em; } }
  @media (max-width: 600px) {
    .jumbotron {
      display: none !important; } }
  .jumbotron img {
    width: 170px; }
  .jumbotron h1 {
    font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #eee !important;
    text-shadow: 2px 2px 2px #000; }
    @media (max-width: 1000px) {
      .jumbotron h1 {
        font-size: 2.5em !important; } }
  .jumbotron h2 {
    color: #eee;
    text-shadow: 2px 2px 2px #000;
    width: 60%;
    font-weight: 300;
    margin: auto;
    margin-bottom: 20px;
    font-size: 2em; }
    @media (max-width: 1000px) {
      .jumbotron h2 {
        font-size: 1.125em; } }

.page-text {
  text-align: center; }

h6 {
  color: #0f2105;
  font-size: 1.25em;
  text-align: center;
  margin-top: 5em; }

h2 .btn-main {
  background-color: #ccc;
  border-radius: 0px;
  color: #333;
  text-transform: uppercase;
  font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif; }

a {
  text-decoration: none; }

.wrapper {
  padding-top: 3em;
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 3em; }

#wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto; }
  #wrapper input, #wrapper button {
    margin: 0 auto;
    border-radius: 4px;
    padding: .5em; }

.hidden {
  display: none; }

form {
  text-align: center; }

input[placeholder="you@yours.com"], button[type="reset"] {
  display: inline;
  margin: 0px;
  border: none;
  padding: 1em !important;
  font-size: 1.2em; }

button[type="reset"] {
  position: relative;
  left: -5px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border: none;
  background-color: #f14c2e;
  color: #fff; }
  button[type="reset"]:hover {
    cursor: pointer; }
  button[type="reset"]:active {
    outline: none !important; }

input[placeholder="you@yours.com"] {
  color: #f7f5f2;
  background: #4d4e4f;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important; }

#overlay {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  z-index: 2000;
  height: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#overlay img {
  margin-top: 5%;
  width: 45%; }

#overlay p {
  color: white;
  margin-top: 2em; }

.note-designer {
  font-family: Georgia, serif;
  font-size: 14px;
  font-style: italic;
  font-weight: bold; }

.bounding-box {
  background-image: url(...);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline; }

.search-patents-icon {
  background-color: #ddd;
  padding: 9px 10px 11px 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #333;
  margin-left: -4px; }

.search-patents-input {
  height: 30px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 2px solid #ddd;
  display: inline-block; }

#clear-search {
  float: right;
  font-size: .9em;
  color: #333;
  margin-bottom: .05em; }
  @media (max-width: 760px) {
    #clear-search {
      display: block;
      margin-bottom: .6em;
      text-align: center;
      border-radius: 2px;
      text-decoration: none;
      background-color: #ccc;
      padding: .8em;
      float: none;
      color: #444;
      text-transform: uppercase;
      font-weight: 600; } }

#search-go {
  width: 33%;
  text-align: center;
  border: 1px solid #eee;
  background: #666;
  color: #FFF;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px; }
  @media (max-width: 760px) {
    #search-go {
      width: 100%;
      float: none;
      margin: .5em 0 .5em 0; } }

.warning {
  text-align: center; }

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.select-style select:focus {
  outline: none; }

.media-container {
  width: 50%;
  display: inline-block;
  vertical-align: top; }
  @media (max-width: 760px) {
    .media-container {
      width: 100%;
      display: block; } }

.img {
  width: 100%;
  vertical-align: top;
  display: block;
  margin: auto;
  list-style: none;
  border: 1px solid #e3e1e0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  padding: 14px;
  background: #f0eeed; }
  @media (max-width: 991px) {
    .img {
      margin-top: 2em; } }

.vid {
  width: 100%;
  vertical-align: top;
  display: block;
  margin: auto;
  list-style: none;
  border: 1px solid #e3e1e0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  padding: 14px;
  background: #f0eeed; }
