<div class="section page">
        <div class="page-title">
            <h1 style="margin-bottom: 0em;">Contact Us</h1>
        </div>
        
        <div id="emailHasBeenSent" ng-if="cc.emailSent">
            <p class="thank-you-text" ng-if="cc.emailSent">Thanks for the email! We&rsquo;ll be in touch shortly!</p>
            <a href="technologies.php"><button class="btn-main thank">Find more technologies</button></a>
        </div>

        <div id="emailNotYetSent" ng-if="!cc.emailSent">
            <p class="contact-text">We&rsquo;d love to hear from you! Complete the form to send us an email.</p>
            <div class="error"></div>
            <form class="contact-form">
                <table>
                    <tr>
                        <th>
                            <label for="name"><i class="glyphicon glyphicon-user"></i></label>
                        </th>
                        <td>
                            <input type="text" name="name" id="name" ng-model="cc.formData.name" placeholder="Name">
                        </td>
                    </tr>
                    <tr ng-if="cc.formData.patent_id">
                        <th>
                            <label for="patent_id">Patent ID</label>
                        </th>
                        <td>
                            <input type="text" name="patent_id" id="patent_id" ng-model="cc.formData.patent_id" ng-disabled="true">
                        </td>
                    </tr>                    
                    <tr>
                        <th>
                            <label for="email"><i class="glyphicon glyphicon-envelope"></i></label>
                        </th>
                        <td>
                            <input type="text" name="email" id="email" ng-model="cc.formData.email" placeholder="E-Mail Address">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="message"><i class="glyphicon glyphicon-pencil"></i></label>
                        </th>
                        <td>
                            <textarea name="message" id="message" ng-model="cc.formData.message" placeholder="Enter your message here"></textarea>
                        </td>
                    </tr>
                    <tr style="display: none;">
                        <th>
                            <label for="address">Address</label>
                        </th>
                        <td>
                            <input type="text" name="address" id="address">
                            <p>please leave this field blank.</p>
                        </td>
                    </tr>
                </table>
                <p class="contact-text-sm">* Please enter the ID # of the technologies you are interested in.</p>
                <input class="btn-main" type="submit" value="{{cc.formValid ? 'Send' : 'Fill out the form'}}" ng-click="cc.submitForm()" ng-disabled="!cc.formValid">
            </form>
        </div>
  <!--   <center><small><strong>Brigham Young University Technology Transfer Office</strong><br />
    3760 Harold B. Lee Library | Provo, UT 84602<br />
    Phone: (801) 422-6266 | Fax: (801) 422-0463 | Email: byutto@byu.edu</small></center> -->
</div>














<!-- 
<div id="contact" class="page-title">
    <h1>Contact</h1>
    <p class="page-text">Let us know if you have any questions. We will reply to your message within 24 business hours.</p>


<div class="wrapper">
    <div class="form" id="contact_form">
        <div class="form-group">
            <div class="inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="first_name" placeholder="First Name" class="form-control" type="text" ng-model="cc.formData.name">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input name="email" placeholder="E-Mail Address" class="form-control" type="text" ng-model="cc.formData.email">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <input name="phone" placeholder="(845) 555-1212" class="form-control" type="text" ng-model="cc.formData.phone">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <textarea class="form-control" name="comment" placeholder="Enter message here" ng-model="cc.formData.message"></textarea>
                </div>
            </div>
        </div>

        <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

        <div id="send-email" class="form-group">
            <button class="btn" id="btn-positive-submit" ng-click="cc.submitForm()" ng-disabled="!cc.formValid || cc.emailSent">{{cc.formValid ? (cc.emailSent ? 'Thanks!' : 'Send') : 'Enter name/email before submitting'}}</button>
        </div>
    </div>
</div>
</div> -->
