<div class="page-title faculty page-container">
	<h1>Our Team</h1>
		<div class="row">


			<div class="col-sm-5 col-sm-offset-1">
				<div class="cards">
					<img src="assets/team/Patrick.jpg">
					<div class="details">
						<p class="name">Patrick Sedivy</p>
						<p class="title">Founder and Managing Director</p>
						<p class="email">patrick.sedivy@rbatechs.com</p>
						<p class="phone">+1-801-691-6623</p>				
				  </div>
				</div>
			</div>


			<div class="col-sm-5">
				<div class="cards">
					<img src="assets/team/Jan.jpg">
					<div class="details">
						<p class="name">Jan Pohořelický</p>
						<p class="title">Managing Director</p>
						<p class="email">jan.pohorelicky@rbatechs.com</p>
						<p class="phone">+420 777 919 977</p>				
				  </div>
				</div>
			</div>	

		</div>
		<div class="row">			


			<div class="col-sm-5 col-sm-offset-1">
				<div class="cards">
					<img src="assets/team/Brett.jpg">
					<div class="details">
						<p class="name">Brett Thompson</p>
						<p class="title">USA region</p>
						<p class="title">Technology Transfer Expert</p>
						<p class="email">brett.thompson@rbatechs.com</p>
						<p class="phone">+1-916-358-0695</p>						
				  </div>
				</div>
			</div>




			<div class="col-sm-5">
				<div class="cards">
					  <img src="assets/team/Petr.jpg">
						<div class="details">
						<p class="name">Petr Tichoň</p>
						<p class="title">Czech Republic region</p>
						<p class="title">Technology Transfer Expert</p>
						<p class="email">petr.tichon@rbatechs.com</p>
						<p class="phone">+420 775 680 213</p>						
				  </div>
				</div>
			</div>


	  </div>
		<div class="row">			

			
			<div class="col-sm-5 col-sm-offset-1">
				<div class="cards">
					<img src="assets/team/Radu.jpg">
					<div class="details">
						<p class="name">Radu Stoica</p>
						<p class="title">Romanian region</p>
						<p class="title">Technology Transfer Expert</p>
						<p class="email">radu.stoica@rbatechs.com</p>
						<p class="phone">+40 (754) 794 547</p>						
				  </div>
				</div>
			</div>		

			
			<div class="col-sm-5">
				<div class="cards">
					<img src="assets/team/Catalin.jpg">
					<div class="details">
						<p class="name">Cătălin Viţel</p>
						<p class="title">Romanian region</p>
						<p class="title">Technology Transfer Expert</p>
						<p class="email">catalin.vitel@rbatechs.com</p>
						<p class="phone">+40 (730) 056 241</p>						
				  </div>
				</div>
			</div>

	  </div>
		<div class="row">			


			<div class="col-sm-5 col-sm-offset-1">
				<div class="cards">
					<img src="assets/team/Kirill.jpg">
					<div class="details">
						<p class="name">Kirill Pokhilko</p>
						<p class="title">Ukraine region</p>
						<p class="title">Technology Transfer Expert</p>
						<p class="email">kirill.pokhilko@rbatechs.com</p>
						<p class="phone">+380-99-668-6062</p>						
				  </div>
				</div>
			</div>						


			<div class="col-sm-5">
				<div class="cards">
					<img src="assets/team/Oleksiy.jpg">
					<div class="details">
						<p class="name">Oleksiy Hakalenko</p>
						<p class="title">Ukraine region</p>
						<p class="title">Technology Transfer Expert</p>
						<p class="email">oleksiy.hakalenko@rbatechs.com</p>
						<p class="phone">+380-50-469-9470</p>						
				  </div>
				</div>
			</div>


	  </div>
		<div class="row">		


			<div class="col-sm-5 col-sm-offset-1">
				<div class="cards">
					<img src="assets/team/Vladimir.jpg">
					<div class="details">
						<p class="name">Volodymyr Denshchykov</p>
						<p class="title">Ukraine region</p>
						<p class="title">Technology Transfer Expert</p>
						<p class="email">volodymyr.denshchykov@rbatechs.com</p>
						<p class="phone">+380-50-414-4311</p>						
				  </div>
				</div>
			</div>

				


			</div>



		</div>
</div>

