
	<div class="page-title faculty page-container">
	<h1>Our Board</h1>
		<div class="row">

			<div class="col-sm-4">
				<div class="cards" ng-click="fc.open('Mike Alder')">
					<img src="assets/team/mike.jpg">
					<div class="details">
						<p class="name">G. Michael Alder</p>
						<p class="title">Board Chair</p>
				  </div>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="cards" ng-click="fc.open('Mike Alder')">
					<img src="assets/team/mike.jpg">
					<div class="details">
						<p class="name">Dr. Brent Strong</p>
						<p class="title">Member</p>
				  </div>
				</div>
			</div>


			<div class="col-sm-4">
				<div class="cards" ng-click="fc.open('Mike Alder')">
					<img src="assets/team/mike.jpg">
					<div class="details">
						<p class="name">George (Troy) Takach, Jr.</p>
						<p class="title">Member</p>
				  </div>
				</div>
			</div>

		</div>


		<div class="row">

			<div class="col-sm-4">
				<div class="cards" ng-click="fc.open('Mike Alder')">
					<img src="assets/team/mike.jpg">
					<div class="details">
						<p class="name">David K. Sorensen</p>
						<p class="title">Member</p>
				  </div>
				</div>
			</div>


		</div>



			<div class="row">

			</div>


		</div>
</div>
