<!-- <div ng-controller="GenericController as fc" class="footer-wrapper">
  <div class="footer">
    <div class="row">
      <div class="col-sm-12">
        <h1>"Elevating the World by Commercializing Technologies"</h1>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-2 col-sm-offset-1">
        <p><a href="https://www.youtube.com/channel/UC8L_1RY4hQEmG7vbP2I34Pg"><i class="fa fa-youtube-play"></i> YouTube</a></p>
      </div>

      <div class="col-sm-2">
        <p><a href="https://www.linkedin.com/groups?home=&gid=6937201&trk=anet_ug_hm"><i class="fa fa-linkedin"></i> Linkedin</a></p>
      </div>  

      <div class="col-sm-2">
        <p><a href="https://instagram.com/royalbusinessacademy/"><i class="fa fa-instagram"></i> Instagram</a></p>
      </div>  

      <div class="col-sm-2">
        <p><a href="https://www.facebook.com/RBA.org?fref=ts"><i class="fa fa-facebook"></i> Facebook</a></p>
      </div>  

      <div class="col-sm-2">
        <p><a href="https://twitter.com/RoyalBusinessA"><i class="fa fa-twitter"></i> Twitter</a></p>
      </div> 

    </div> 

    <div class="row">
      <div class="col-sm-12">
        <p id="copyright">© {{fc.currentYear}} by Royal Business Academy International, LLC. All rights reserved.</p>
      </div>
    </div> 

  </div>
</div>



 -->
<!--     <div class="column-left footer-column">
      <h3 class="footer-title">Our Mission</h3>
      <p><a href="index.php">Become a donor</a></p>
      <p><a href="index.php"></a></p>
    </div> -->

<!--     <div class="column-center footer-column">
      <h3 class="footer-title">Site Map</h3>
      <p><a href="index.php">Home</a></p>
      <p><a href="index.php">About</a></p>
      <p><a href="index.php">Philosophy</a></p>
      <p><a href="index.php">Courses</a></p>
      <p><a href="index.php">Faculty</a></p>
      <p><a href="index.php">FAQ</a></p>
      <p><a href="index.php">Contact</a></p>
      <p><a href="index.php">Apply</a></p>
    </div> -->





<div id="footer" ng-controller="GenericController as fc">
  <div class="footer-wrapper">
    <div class="footer">
      <div class="column-left footer-column">
        <h3 class="footer-title">Contact</h3>
        <p></p>
        <p>234 N 1400 E</p>
        <p>Provo, Utah</p>
        <p>Phone: (801) 234-3443</p>
        <br>
        <p style="margin-bottom: .3em;"><u>Staff:</u></p>
        <p>Patrick Sedivy</p>
        <p>Jan Pohořelický</p>
<!--         <p>Spencer Rogers, Engineering</p>
        <p>Colleen Kohler, Administrative</p>
        <p>Thaylene Rogers, Finance</p> -->
        
      </div>
      <div class="column-center footer-column">
        <h3 class="footer-title">Site Links</h3>
        <p><a href="" ng-click="fc.goTo('home')">Home Page</a></p>
        <p><a href="" ng-click="fc.goTo('technologies')">Full List of Technologies</a></p>
        <p><a href="" ng-click="fc.goTo('resources')">Resources & Forms</a></p>
        <p><a href="" ng-click="fc.goTo('contact')">Contact Us</a></p>
        <p><a href="" ng-click="fc.goTo('about')">About Us</a></p>
        <p><a href="http://home.byu.edu/home/" target="_blank">Donors</a></p>
        
        <br>
<!--         <h3 class="footer-title">Follow Us</h3>
        <p><a href="http://royalbusinessacademy.org" target="_blank"><i class="fa fa-youtube-play"></i> YouTube</a></p>
        <p><a href="http://royalbusinessacademy.org" target="_blank"><i class="fa fa-linkedin"></i> Linkedin</a></p> -->
        
      </div>
<!--       <div class="column-right footer-column">
        <h3 class="footer-title">Resources</h3>
        <p><a href="http://royalbusinessacademy.org" target="_blank">Resource 1</a></p>
        <p><a href="http://royalbusinessacademy.org" target="_blank">Resource 2</a></p>
        <p><a href="http://royalbusinessacademy.org" target="_blank">Resource 3</a></p>
        <p><a href="http://royalbusinessacademy.org" target="_blank">Resource 4</a></p>
        <p><a href="http://royalbusinessacademy.org" target="_blank">Resource 5</a></p>
        <p><a href="http://royalbusinessacademy.org" target="_blank">Resource 6</a></p>
        <p><a href="http://royalbusinessacademy.org" target="_blank">Resource 7</a></p>
        <p><a href="http://royalbusinessacademy.org" target="_blank">Resource 8</a></p>
        <p><a href="http://royalbusinessacademy.org" target="_blank">Resource 9</a></p>
      </div> -->
    </div>
    <br>
    <br>
  </div>

  <div id="copyright">
    <br>
    <p><a href="http://royalbusinessacademy.org">WestCamp</a></p>
    <p><a href="http://royalbusinessacademy.org">&#169 {{fc.currentYear}} by WestCamp, Inc.</a></p>
    <br>
  </div>
</div>

