<div class="jumbotron">
	<img src="assets/profile-1.png">
  <h1>WestCAMP</h1>
  <h2>"Improve the products and processes for Utah business enterprises"</h2>
  <h2><button type="button" class="btn btn-main btn-lg" ng-click="hc.goToAbout()">Learn More</button></h2>
</div>

<div class="jumbotron-sm">
  <h1>WestCAMP</h1>
  <h2>"Improve the products and processes for Utah business enterprises"</h2>
  <h2><button type="button" class="btn btn-main btn-lg" ng-click="hc.goToAbout()">Learn More</button></h2>
</div>
